@model IEnumerable<FootballManager.Models.Staff>

@{
    ViewBag.Title = "Coaches";
    var selectedLeague = ViewBag.SelectedLeague as string;
}

<p>
    @Html.ActionLink("Create New Staff", "Create", null, new { @class = "btn btn-success" })
</p>

<div id="teamsTable">
    @Html.Partial("_StaffTablePartial", Model)
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.league-btn').click(function () {
                var leagueName = $(this).data('league');

                $('.league-btn').removeClass('active shadow');
                $(this).addClass('active shadow');

                $.get('@Url.Action("GetStaffByLeague", "Staffs")', { leagueName: leagueName }, function (data) {
                    $('#staffTable').html(data);
                });
            });
        });
    </script>
}
